.albums {
  border: 3px solid coral;
  border-radius: 15px;
  padding: 30px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  gap: 10px;
}
.album {
  border: 3px solid darkblue;
  border-radius: 30px;
  margin-top: 20px;
}
